body {
    background-color: rgba(241, 241, 241, 0.596);
}

.black {
    color: black!important;
}

.prog {
    width: 100px!important;
    height: 100px!important;
}

.load {
    height: 20px;
    width: 20px;
    background-image: url('../Static/Icons/loading.gif');
}

.detail-card {
    width: 70%;
    margin-left: 15%;
  }

  .detail-list{
      line-height: 1.6;
      font-size: 18px;
      color: rgb(65, 65, 65);
      list-style-type: square;
  }

  .pie-chart {
      margin-left: -27%;
  }